.transition-all { transition: all 0.2s ease-in-out; }

.scale-110 { transform: scale(1.15); }

.ls-wide { letter-spacing: 1px; }

.custom-range::-webkit-slider-runnable-track {
    background: #eee;
    height: 8px;
    border-radius: 10px;
}

/*? Per cambiare il colore della pallina dello slider */
[data-bs-theme="light"] .custom-slider::-webkit-slider-thumb {
  background: #6c757d; /* dark thumb in light theme */
}

[data-bs-theme="light"] .custom-slider:active::-webkit-slider-thumb {
  background: #a5a5a5;
}

[data-bs-theme="dark"] .custom-slider::-webkit-slider-thumb {
  background: #f8f9fa; /* light thumb in dark theme */
}

[data-bs-theme="dark"] .custom-slider:active::-webkit-slider-thumb {
  background: #ced4da;
}

[data-bs-theme="dark"] .custom-slider::-webkit-slider-runnable-track {
  background: #495057;
}


.custom-slider::-moz-range-thumb {
  background: #212529;
}
.custom-slider:active::-moz-range-thumb {
  background: #6c757d;
}